li .active {
  border-bottom: 4px transparent;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    #642b73 0%,
    #c6426e 51%,
    #642b73 100%
  );
  border-image-slice: 2;
}

.nav {
  border-bottom: 4px solid transparent !important;
}
