@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/image/bg.jpg");
  background-attachment: fixed;
}

.custom-btn {
  background-image: linear-gradient(
    to right,
    #642b73 0%,
    #c6426e 51%,
    #642b73 100%
  );

  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  border-radius: 10px;
}

.custom-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.text-color {
  background-image: linear-gradient(
    to right,
    #642b73 0%,
    #c6426e 51%,
    #642b73 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url("./assets/image/banner.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}
